<main class="main">
  <section class="home bd-grid" id="home">
    <div class="home__data">
      <h1 class="home__title"><span class="home__title-color">Giovana</span><br>Enfermeira<br>Doula<br>
        <a href="" class="button">Contato</a>
      </h1>
    </div>
    <div class="home__social">
      <a href="" class="home__social-icon"><i class='bx bxl-facebook'></i></a>
      <a href="" class="home__social-icon"><i class='bx bxl-instagram'></i></a>
      <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
      <a href="" class="home__social-icon"><i class='bx bxl-whatsapp'></i></a>
    </div>
    <div class="home__img">
      <img src="../assets/img/giovana_3.jpg" alt="">
    </div>
  </section>
</main>
